* {
  box-sizing: border-box;
}
#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  padding: 0 1rem 5rem 1rem;
  overflow: hidden;
}
body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  font-family: "Hanken Grotesk", Arial, sans-serif;
  background-color: #262626;
  color: #D9D9D9;
  display: flex;
  justify-content: center;
}

header {
  text-align: center;
  max-width: 100%;
}

header > h1 {
  font-size: 1.25rem;
  font-weight: 500;
  color: #F9F4DA;
}

header > p {
  font-size: 0.875rem;
  max-width: 350px;
  color: #8E8E8E;
}
.status-section, .clue-container, .keyboard-section {
  width: 100%;
}
.status-section {
  min-height: 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-block: 8px;
  transition: all 0.8s ease-in-out;
  text-align: center;
}
.status-section.won {
  background-color: #10A95B;
  border-radius: 4px;
  margin-block: 20px;
  color: #F9F4DA;
  transition: all 0.8s ease-in-out;
}
.status-section.lose {
  background-color: #EC5D49;
  transition: all 0.8s ease-in-out;
  line-height: 1.2;
}
.status-section.farewell{
  display: flex;
  align-items: center;
  min-width: 350px;
  justify-content: center;
  background-color: #7A5EA7;
  border: 1px dashed #323232;
  font-style: italic;
  font-weight: 400;
  transition: all 0.8s ease-in-out;
    overflow: hidden; /* Hides text that goes beyond the container */
    white-space: nowrap; /* Keeps text on one line */
}

.status-section .farewell-message {
  display: inline-block; /* Allows animation to move it */
  animation: marquee 10s linear infinite; /* 10s speed, smooth motion, loops forever */
  font-style: italic;
  font-weight: 400;
}
@keyframes marquee {
  0% { transform: translateX(150%); } /* Starts off-screen to the right */
  100% { transform: translateX(-150%); } /* Moves off-screen to the left */
}

.clue-container {
  color: #e5a511;
  background-color: #16353f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30px;
  border-radius: 4px;
  border: 1px dashed #e5a511;
  padding-block: 10px;
  transition: all 0.8s ease-in-out;
}
.clue-container p,small{
  text-align: center;
  margin: 0.2em;
}
.clue-container small {
  color: #10A95B;
}
.status-section h2 {
  margin: 5px;
  font-size: 1.25rem;
}
.status-section p {
  margin: 5px;
}

.lang-section {
  max-width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  border-radius: 4px;
  margin-block: 8px;
  transition: all 0.8s ease-in-out;
}
.lang {
  position: relative;
  border-radius: 4px;
  font-size: 1rem;
  padding: 4px;
  transition: all 0.8s ease-in-out;
}
span.lang.lost::before {
  content: "💀";
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-size: 0.85rem;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.word-section {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2px;
  align-items: center;
  margin-block: 20px;
  transition: all 0.8s ease-in-out;
}
.word-section span{
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  background-color: #323232;
  color: #10A95B;
  /* color: #F9F4DA; */
  border-bottom: #F9F4DA 2px solid;
  transition: all 0.8s ease-in-out;
}

.word-section span.missing-letters {
  color: #EC5D49;
  transition: all 0.5s ease-in-out;
  animation: fadeIn 2s infinite ease-in-out;
}


@keyframes fadeIn {
  0% {
    border-bottom: #EC5D49 2px solid;
  }
  
  50% {
    border-bottom: #F9F4DA 2px solid;
  }
  100% {
    border-bottom: #EC5D49 2px solid;

  }
}

.opacity {
  opacity: 0.4;
}
.keyboard-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4px;
  margin-block: 20px;
  transition: all 0.8s ease-in-out;
}

.key {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  background-color: #FCBA29;
  color: #1E1E1E;
  border: 1px solid #D7D7D7;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
.enabled {
  background-color: #10A95B;
  color: #1E1E1E;
  transition: all 0.8s ease-in-out;
  
}
.disabled {
  background-color: #EC5D49;
  color: #8E8E8E;
  cursor: not-allowed;
  transition: all 0.8s ease-in-out;
}

button.new-game {
  background-color: #16353f;
  box-shadow: #8244b2 0px 0px 1px 0px ;
  color: #e5a511;
  font-weight: 500;
  font-size: large;
  border-radius: 8px;
  border: 2px solid #175584;
  width: 225px;
  height: 40px;
  padding: 6px 12px;
  display: block;
  margin-inline: auto;
  margin-block: 20px;
  cursor: pointer;
  transition: all 0.8s ease-in-out;
}
button.new-game:hover {
  background-color: #175584;
  color: #D7D7D7;
  transition: all 0.3s ease-in-out;
}

.keysDisable button{
  pointer-events: none;
  opacity: 0.5;
  transition: all 0.8s ease-in-out;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #044f68;
  padding: 1em;
  position: absolute;
  bottom: 0;
}
footer p {
  margin: 0;
  padding: 0.3em;
}
footer a {
  color: #776605;
  text-decoration: none;
}